<div flex layout="row" layout-align="center center" layout-padding ng-cloak layout-wrap style="padding-bottom: 32px;">
    <div flex="65">
        <md-content>
            <div ng-show="request.loadingTransactions" layout="row" layout-sm="column" layout-align="space-around" style="margin-top: 80px;">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <div ng-hide="request.loadingTransactions" class="fade-in">
                <h2 class="md-display-1" style="text-align: center;">Requests</h2>

                <div ng-show="request.transactionService.transactions === undefined || request.transactionService.transactions.length == 0" style="text-align: center; padding-top: 100px;">
                    <h3>You have no requests</h3>
                </div>
                <md-list ng-hide="request.transactionService.transactions === undefined || request.transactionService.transactions.length == 0" class="fade-in">
                    <md-list-item class="md-2-line" ng-repeat="transaction in request.transactionService.transactions" ng-click="request.showDetails(transaction)">
                        <img ng-src="{{transaction.urls[0].url}}" class="offer-avatar" alt="transaction"/>
                        <div class="md-list-item-text offer-short-desc" layout="column">
                            <h3>{{transaction.message}}</h3>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-content>
    </div>
</div>
