.idea
Web/src/main/webapp/node_modules
Web/target
Server/target
Server/.settings/org.eclipse.core.resources.prefs
Server/.settings/org.eclipse.jdt.apt.core.prefs
Server/.settings/org.eclipse.jdt.core.prefs
Server/.settings/org.eclipse.m2e.core.prefs
Server/.classpath
Server/.factorypath
Server/.project
Web/.settings/org.eclipse.core.resources.prefs
Web/.settings/org.eclipse.jdt.apt.core.prefs
Web/.settings/org.eclipse.jdt.core.prefs
Web/.settings/org.eclipse.m2e.core.prefs
Web/.classpath
Web/.project
.DS_Store
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
