<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Log In</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="login.cancel()">
            <md-icon md-svg-src="svg/ic_clear_black_24px.svg" aria-label="Cancel"></md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-dialog-content style="max-width:500px;max-height:600px;">
    <form name="Login" data-ng-submit="login.login()">
        <md-input-container class="md-block">
            <label>Email</label>
            <md-icon md-svg-src="svg/ic_email_black_24px.svg" class="email"></md-icon>
            <input ng-model="login.user.email" type="email" name="email"
                   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" required>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Password</label>
            <md-icon md-svg-src="svg/ic_lock_black_24px.svg" class="name"></md-icon>
            <input ng-model="login.user.password" type="password" name="password" required>
        </md-input-container>

        <div class="login-error" ng-show="login.loginError">
            The email address or password is incorrect.
        </div>
        <div ng-hide="login.loginError" style="height: 20px;"></div>

        <div layout="row">
            <md-button ng-click="login.register()">Register</md-button>
            <span flex> </span>
            <md-button ng-click="login.cancel()">Cancel</md-button>
            <md-button type="submit" md-autofocus class="md-raised md-primary offer-buttons">Login</md-button>
        </div>
    </form>
</md-dialog-content>

<md-dialog-actions layout="row" md-whiteframe="2">
    <span flex> </span>
    <md-button ng-click="login.forgotPassword = true">Forgot Password?</md-button>
</md-dialog-actions>