<md-dialog aria-label="Settings" ng-controller="SettingsEditController as settings">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit your password</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="settings.cancelEditDialog()">
                <md-icon md-svg-src="svg/ic_clear_black_24px.svg" aria-label="Cancel"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content style="min-width: 400px; max-width:850px; max-height:600px;">
        <form name="change-password" data-ng-submit="settings.savePassword()">
            <md-input-container class="md-block">
                <label>Password</label>
                <md-icon md-svg-src="svg/ic_lock_black_24px.svg" class="name"></md-icon>
                <input ng-model="settings.password" type="password" name="password" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Confirm Password</label>
                <md-icon md-svg-src="svg/ic_lock_black_24px.svg" class="name"></md-icon>
                <input ng-model="settings.confirmPassword" type="password" name="password" required>
            </md-input-container>
            <div ng-hide="settings.match" style="color: red; text-align: center;">
                Passwords do not match!
            </div>
            <div ng-show="settings.match" style="height: 17px; text-align: center;"></div>

            <div layout="row">
                <span flex> </span>
                <md-button ng-click="settings.cancelEditDialog()">Cancel</md-button>
                <md-button type="submit" md-autofocus class="md-raised md-primary">Save</md-button>
            </div>
        </form>
    </md-dialog-content>

</md-dialog>