<div ng-show="password.sending === true">
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>
<div ng-show="password.sending === false" style="height: 5px;"></div>

<div ng-show="password.status === 0" layout="row" layout-sm="column" layout-align="space-around" style="margin-top: 20px;">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div ng-show="password.status !== 0">
    <div ng-show="password.status === 200" style="text-align: center;">
        <div flex layout="row" layout-align="center center" layout-padding ng-cloak layout-wrap layout-fill style="padding-bottom: 32px;">
            <div flex="35" class="md-whiteframe-z4" id="savePasswordContainer">
                <md-content>
                    <h2>Your new password:</h2>

                    <form name="change-password" data-ng-submit="password.savePassword()">
                        <md-input-container class="md-block">
                            <label>Password</label>
                            <md-icon md-svg-src="svg/ic_lock_black_24px.svg" class="name"></md-icon>
                            <input ng-model="password.password" type="password" name="password" required>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Confirm Password</label>
                            <md-icon md-svg-src="svg/ic_lock_black_24px.svg" class="name"></md-icon>
                            <input ng-model="password.confirmPassword" type="password" name="password" required>
                        </md-input-container>
                        <div ng-hide="password.match" style="color: red;">
                            Passwords do not match!
                        </div>
                        <div ng-show="password.match" style="height: 17px;"></div>

                        <md-button type="submit">Save Password</md-button>
                    </form>
                </md-content>
            </div>
        </div>
    </div>

    <div ng-show="password.status === 404" style="color: red; text-align: center;">
        <h1>Oops!</h1>
        Verification token does not exist. Please use the forgot password feature to send new email with refreshed token.
    </div>

    <div ng-show="password.status === 409" style="color: red; text-align: center;">
        <h1>Oops!</h1>
        Your token has expired. Please use the forgot password feature to send new email with refreshed token.
    </div>
</div>